button.btn.btn-success(onclick='updateValueByNumBounded(1)') D A N K
        span#changeNumberBounded 0

        script.
          function updateValueByNumBounded(changeBy){
          var number = document.getElementById("changeNumberBounded").innerHTML;
          number= parseInt(number) + changeBy;
          if(number > 1)
          {
          number = 1;
          }
          document.getElementById("changeNumberBounded").innerHTML = number;
          }
