doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='description', content='Creative Self-Made Webpage')
    meta(name='author', content='Brendan Heaney')
    // <meta http-equiv="refresh" content="30">
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    title My Latest Webpage
    // <base href="https://www.sophmore2page.html/otherpages" target="_blank"
    script.
      document.createElement("tag1");
  body#mainbox(style="background-image: url('https://media.giphy.com/media/JrTMRGVbcriWWGtpYs/giphy.gif');")
    style.
      body {
      background-image: url('img_girl.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }
    style.
      #mainbox {
      background-image: url("RMNP_image.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      }
      div.background {
      margin: 75px 100px;
      border: 4px solid black;
      text-align: center;
      background-color: lightblue;
      opacity: 0.9;
      }
      div.transbox {
      padding: 13.8% 0;
      font-size: 16px;
      outline-color: black;
      }
      /*div.transb h1 {
      padding: 10px;
      text-align: center;
      text-weight: bold;
      font-size: 30px;
      z-index: 1;
      font-variant: small-caps;
      }*/
      .subbutton {
      background-color: MediumSeaGreen;
      border: none;
      color: black;
      float: center;
      text-align: center;
      border: 2px solid black;
      margin: 20px 8px;
      padding: 6px 15px;
      transition-duration: 0.5s;
      cursor: grab;
      }
      .subbutton:hover {
      background-color: black;
      color: MediumTurquoise;
      border: 2px solid MediumTurquoise;
      }
      .signupb {
      color:black;
      font-size:14px;
      cursor: wait;
      }
    // form action="/action_page.sql" autocomplete="on"?>
    .background
      center
        h1(style='font-variant:small-caps') You gotta sign up buD
      .transbox
        center
          form(action='\signup', method='post', id='replace')
            label(for='uname') Username:
            input(type='text', name='uname', placeholder='John_Doe', title='Username', autofocus='', required='')
            br
            br
            label(for='password') Password:
            input(type='password', name='passwrd', placeholder='Password', title='Password', autofocus='', required='')
            br
            button.subbutton(type='submit', style='margin-left:42px;margin-right:20px') Sign Up
            a.signupb(href='homePage') Home
            br
            br
          //- script
          //-   - if(data)
          //-     for item in data
          //-       if(item.username)
          //-         p(style='font-variant:small-caps') " + 
            //- form(action='/signup/post')
            //- H2(style='font-variant:small-caps') Paragraph

